<suite name="MyTestSuite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg" />
    </listeners>

    <test name="All Tests">
        <classes>
            <class name="testcases.LoginTest"/>
            <class name="testcases.HomePageTest"/>
            <class name="testcases.YourCartTest"/>
            <class name="testcases.CheckoutTest"/>
            <class name="testcases.Reorder"/>
        </classes>
    </test>
</suite>

